---
---

@import "{{ site.theme }}";

#sidebar {
  background: url("../img/bg.jpg");
  // background-attachment: scroll;
  background-repeat: round;
}

@media all and (min-width: 1650px) {
  #main-wrapper {
    margin-left: 500px;
  }

  #topbar-wrapper {
    left: $sidebar-width-large;
  }

  #sidebar {
    width: 500px;

    .profile-wrapper {
      %profile-ml {
        margin-left: 9rem;
      }
    }

    ul {
      padding-left: 7rem;
    }

    .sidebar-bottom {
      padding-left: 7rem;
    }
  }
}

@media all and (min-width: 1700px) {
  #topbar-wrapper {
    padding-right: calc(100% - 500px - (1920px - 500px));
  }

  footer {
    padding-right: calc(100% - 500px - 1180px);
  }

  @media (min-width: 1920px) {
    #search-result-wrapper {
      padding-right: calc(100% - 500px - 1180px);
    }
  }
