---
---

$sidebar-width-large: 550px;

@import "{{ site.theme }}";

// $sidebar-width-large: 500px;

#sidebar {
  background: url("../img/bg.jpg");
  // background-attachment: scroll;
  background-repeat: round;
}

@media all and (min-width: 1650px) {
  #main-wrapper {
    margin-left: $sidebar-width-large;
  }

  #topbar-wrapper {
    left: $sidebar-width-large;
  }

  #sidebar {
    width: $sidebar-width-large;

    .profile-wrapper {
      %profile-ml {
        margin-left: 15rem;
      }
    }

    ul {
      padding-left: 13rem;
    }

    .sidebar-bottom {
      padding-left: 13rem;
    }
  }
}

@media all and (min-width: 1700px) {
  #topbar-wrapper {
    padding-right: calc(100% - #{$sidebar-width-large} - (1920px - 500px));
  }

  footer {
    padding-right: calc(100% - #{$sidebar-width-large} - 1180px);
  }

  @media (min-width: 1920px) {
    #search-result-wrapper {
      padding-right: calc(100% - #{$sidebar-width-large} - 1180px);
    }
  }
}
